RegnForm.pdf
TT_WIP.pdf
*.docx
*.doc
*.odt
*.odt#
*.exe
.ipynb_checkpoints
*/.ipynb_checkpoints/*
/CO306_Computer_Networks/CN_Lab/runfiles
/CO302_Compiler_Design/CD_Lab/runfiles
/CO304_Artificial_Intelligence/Assignment_1
/CO302_Compiler_Design/CD_Lab/Outputs
/CO302_Compiler_Design/CD_Lab/LabFile
/SE324_Parallel_Algorithms/PA_LAB/OutPuts
