RegnForm.pdf
TT_WIP.pdf
*.docx
*.doc
*.odt
*.odt#
*.exe
.ipynb_checkpoints
*/.ipynb_checkpoints/*
/CO306_Computer_Networks/CN_Lab/runfiles
/CO302_Compiler_Design/CD_Lab/runfiles
/CO302_Compiler_Design/CD_Lab/Outputs
/CO302_Compiler_Design/CD_Lab/LabFile
/Books
/SE324_Parallel_Algorithms/PA_LAB/__pycache__/
*zip
~/send
SE324_Parallel_Algorithms/Assignment
AdmitCard.pdf
SE324_Parallel_Algorithms/PA_LAB/LabFile/send
SE324_Parallel_Algorithms/PA_LAB/LabFile/*.pdf